GATEWAY_PORT=3000
IDENTITY_SERVICE_PORT=3001
IDENTITY_SERVICE_URL=http://localhost:3001

DB_HOST=localhost
DB_PORT=5432
DB_NAME=vara360
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_SSL=false
DB_LOGGING=true
DB_MIGRATIONS_RUN=true

JWT_SECRET=change-me
JWT_EXPIRES_IN=15m

POSTGRES_DB=vara360
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
NGINX_PORT=80
